{
  "extends": ["plugin:react/recommended", "eslint:recommended"],
  "plugins": ["prettier", "react", "react-hooks", "local"],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2015
  },
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [2, { "extensions": [".jsx"] }],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "local/jsx-no-length-truthiness": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  }
}
