{
  "extends": ["plugin:react/recommended"],
  "plugins": ["prettier", "react"],
  "parser": "babel-eslint",
  "parserOptions": { "sourceType": "module", "ecmaVersion": 2015 },
  "rules": {
    "react/prop-types": 0
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
